In [2]:
import pandas as pd
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('ML datasets/Advertising_Data.csv')

In [ ]:
df

In [5]:
df.head()

,TV,Billboards,Google_Ads,Social_Media,Influencer_Marketing,Affiliate_Marketing,Product_Sold
0,281.42,538.80,123.94,349.30,242.77,910.10,7164.0
1,702.97,296.53,558.13,180.55,781.06,132.43,5055.0
2,313.14,295.94,642.96,505.71,438.91,464.23,6154.0
3,898.52,61.27,548.73,240.93,278.96,432.27,5480.0
4,766.52,550.72,651.91,666.33,396.33,841.93,9669.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TV                    300 non-null    float64
 1   Billboards            300 non-null    float64
 2   Google_Ads            300 non-null    float64
 3   Social_Media          300 non-null    float64
 4   Influencer_Marketing  300 non-null    float64
 5   Affiliate_Marketing   300 non-null    float64
 6   Product_Sold          300 non-null    float64
dtypes: float64(7)
memory usage: 16.5 KB

In [8]:
corr = df.corr()
corr

,TV,Billboards,Google_Ads,Social_Media,Influencer_Marketing,Affiliate_Marketing,Product_Sold
TV,1.000000,-0.028851,0.025265,-0.038993,0.009970,0.087524,0.374228
Billboards,-0.028851,1.000000,0.052991,0.048722,-0.005815,-0.041060,0.480593
Google_Ads,0.025265,0.052991,1.000000,0.040265,-0.059243,-0.131834,0.203678
Social_Media,-0.038993,0.048722,0.040265,1.000000,-0.042679,-0.019522,0.401088
Influencer_Marketing,0.009970,-0.005815,-0.059243,-0.042679,1.000000,-0.047093,0.140844
Affiliate_Marketing,0.087524,-0.041060,-0.131834,-0.019522,-0.047093,1.000000,0.611603
Product_Sold,0.374228,0.480593,0.203678,0.401088,0.140844,0.611603,1.000000

In [10]:
corr['Product_Sold'].sort_values(ascending=False)

Product_Sold            1.000000
Affiliate_Marketing     0.611603
Billboards              0.480593
Social_Media            0.401088
TV                      0.374228
Google_Ads              0.203678
Influencer_Marketing    0.140844
Name: Product_Sold, dtype: float64

In [21]:
df = df.drop(columns=['Influencer_Marketing'])

In [22]:
x = df.drop(columns=['Product_Sold'])
y = df['Product_Sold']

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, shuffle=True)

In [24]:
x_train = sm.add_constant(x_train)

In [27]:
reg_model = sm.OLS(y_train, x_train).fit()
reg_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Product_Sold   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.956
Method:                 Least Squares   F-statistic:                     966.2
Date:                Fri, 22 Dec 2023   Prob (F-statistic):          4.80e-147
Time:                        01:30:27   Log-Likelihood:                -1636.2
No. Observations:                 225   AIC:                             3284.
Df Residuals:                     219   BIC:                             3305.
Df Model:                           5
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                 647.7486     99.743      6.494      0.000     451.170     844.327
TV                      1.9560      0.083     23.622      0.000       1.793       2.119
Billboards              3.0513      0.088     34.588      0.000       2.877       3.225
Google_Ads              1.4253      0.083     17.178      0.000       1.262       1.589
Social_Media            2.4140      0.090     26.924      0.000       2.237       2.591
Affiliate_Marketing     3.9268      0.086     45.632      0.000       3.757       4.096
==============================================================================
Omnibus:                      112.777   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               14.734
Skew:                           0.175   Prob(JB):                     0.000632
Kurtosis:                       1.796   Cond. No.                     4.87e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.87e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [29]:
x_test = sm.add_constant(x_test)

In [31]:
y_pred = reg_model.predict(x_test)

In [34]:
results = pd.DataFrame(data={'Actual':y_test,'Predicted':y_pred}).reset_index(drop=True)
results.head()

   Actual    Predicted
0  8760.0  8564.025279
1  4358.0  4671.285220
2  9889.0  9475.343945
3  7803.0  7346.624910
4  7339.0  7271.749600